---
layout: default
---

{% assign post = page %}
{% include post.html %}
{% assign psize = site.related_posts | size %}
{% if rpsize and rpsize != 0 %}
<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for related in site.related_posts limit:3 %}
    <li>
      <h3>
        <a href="{{ related.url }}">
          <small>{{ related.date | date_to_long_string | upcase }}</small>
          {{ related.title }}
        </a>
      </h3>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% include disqus.html %}